body {
    margin: 0;
}

.exemplo {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px  #888888; /*distancia horizontal, distania vertical, esfumaçamento, cor   */
    /*box-shadow: aplica sombra em elementos*/
}

.exemplo2 {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 100px;
    color: green;
    text-shadow: 2px 2px 3px #888888 ;/*direita,baixo,blur,cor */
    /*text-shadow: aplica sombra no texto*/ 
}
