.input {
  width: 400px;
  height: 50px;
  font-size: 27px;
  color: red;
}

.input::-webkit-input-placeholder{  /*Webkit(Chrome), Blink e Edge*/
  color: blue;
  font-style: italic;
}

.input:-moz-placeholder{  
  color: blue;
  font-style: italic;
}

.input::-moz-placeholder{  /*Firefox 19 em diante*/
  color: blue;
  font-style: italic;
}

.input:-ms-input-placeholder { /*IE 10 e 11*/
  color: blue;
  font-style: italic;
}

.input::-ms-input-placeholder { /*Microsoft Edge NOVO*/
  color: blue;
  font-style: italic;
}

.input::placeholder { /*Atual para TODOS navegadores modernos*/
  color: blue;
  font-style: italic;
}

