body {
  background-image:url('bg.jpg');
  background-size: cover;
  background-position: center;
}

.texto {
  background-color: rgba(255, 0, 0, 0.5); /* vermelho, verde, azul, %transparência*/
  width: 300px;
  height: 300px;
}

/* Todo o site um pouco 55% mais escuro*/
.tudo {
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
}