.container {
  display: grid;
  grid-template-columns: auto 200px 100px;
  grid-template-rows: 100px 200px;
  grid-gap: 20px; 
}

.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
