.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-gap: 10px;
  grid-row-gap: 10px;
  grid-gap: 10px linha 30px coluna;*/
  grid-gap: 20px; /* atual somente 'gap' */
}

.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}