.container {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr) 200px; /* 1fr 1fr 1fr */
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px; 
}

.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
