.container {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 1fr;
  grid-gap: 20px; 
}

.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
