body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
header .logo {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
}
header .menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .menu-line {
  height: 3px;
  background-color: #333;
}

.container {
  display: flex;
  height: 100vh; /* 100% altura monitor */
}
.container .leftside {
  flex: 1;
  background-color: #3b576d;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.container .rightside {
  flex: 1;
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center top;
}
.container .info {
  color: #fff;
}
.container .info .profession {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
}
.container .info .name {
  font-weight: bold;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.container .info .buttons a {
  display: inline-block;
  background-color: #fff;
  color: #3b576d;
  padding: 20px 40px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 10px #111;
  border-radius: 5px;
  margin-right: 10px;
}
.container .info .buttons a.light {
  color: #fff;
  background-color: #3b576d;
}
.container .info .buttons a:hover {
  opacity: 0.8;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  color: #fff;
  font-size: 13px;
}
footer a {
  color: #fff;
}

@media (max-width: 850px) { /* Tablet */

  header {
    position: initial;
    background-color: #3b576d;
  }
  header .menu-line {
    background-color: #fff;
  }

  .container {
    flex-direction: column;
    /*height: calc(100vh - 66px); se desejar tirar a rolagem*/
  }
  .container .leftside {
    flex: none;
    padding: 30px 20px;
    justify-content: center;
    text-align: center;
  }

  footer {
    position: initial;
    color: #333;
    font-size: 16px;
  }
  footer a {
    color: #333;
  }

}

@media (max-width: 450px) { /* Celular */

  .container .leftside .info .name {
    font-size: 50px;
  }
  .container .leftside .info .buttons a {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

}