div {
  background-color: blue;
  width: 100px;
  height: 100px;
}

/*Seleciona o 1º elemento*/
div:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*Seleciona o ÚLTIMO elemento*/
div:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Seleciono todos os itens menos o p */
p {
  background-color: blue;
}